services:

  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: unless-stopped
    ports:
      - "80:80"  # Access your API via http://localhost (or your domain)
    volumes:
      - ./:/var/www:ro  # Share your Laravel code (adjust path if needed); :ro for read-only in Nginx
      - ./docker/nginx.conf:/etc/nginx/conf.d/default.conf:ro  # Your custom Nginx config
    depends_on:
      - api
    networks:
    - app-network  # Ensure both services are on the same network

  api:
    container_name: api
    build:
      context: .
      target: development
      args:
        USER_ID: ${UID:-1000}
        GROUP_ID: ${GID:-1000}
    restart: unless-stopped
    ports:
      - "9000:9000"
    volumes:
      - .:/var/www
    depends_on:
      mysql:
        condition: service_healthy
    networks:
    - app-network  # Ensure both services are on the same network
  
  mysql:
    image: mysql:8.4
    container_name: mysql_db  # Optional, but avoid conflicts
    restart: unless-stopped
    ports:
      - "3306:3306"  # Only for local access (e.g., TablePlus, MySQL Workbench)
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}  # Same as root in your case
    volumes:
      - ./docker/mysql:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s
    networks:
      - app-network


networks:
  app-network:
    driver: bridge