services:

  api:
    container_name: api
    build:
      context: .
      args:
        UID: ${UID:-1000}
        GID: ${GID:-1000}
    ports:
      - "9000:9000"
    volumes:
      - .:/var/www
    user: "${UID:-1000}:${GID:-1000}"

    depends_on:
      - mysql

  
  mysql:
      image: 'mysql:8.4'
      container_name: mysql
      ports:
          - '3306:3306'
      environment:
          MYSQL_ROOT_PASSWORD: '${DB_PASSWORD}'
          MYSQL_ROOT_HOST: '%'
          MYSQL_DATABASE: '${DB_DATABASE}'
          MYSQL_USER: '${DB_USERNAME}'
          MYSQL_PASSWORD: '${DB_PASSWORD}'
          MYSQL_ALLOW_EMPTY_PASSWORD: 1
      volumes:
          - '/docker/mysql:/var/lib/mysql'
      healthcheck:
          test: ['CMD', 'mysqladmin', 'ping', '-p${DB_PASSWORD}']
          retries: 3
          timeout: 5s