services:

  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: unless-stopped
    ports:
      - "80:80"  # Access your API via http://localhost (or your domain)
    volumes:
      - ./:/var/www:ro  # Share your Laravel code (adjust path if needed); :ro for read-only in Nginx
      - ./docker/nginx.conf:/etc/nginx/conf.d/default.conf:ro  # Your custom Nginx config
    depends_on:
      - api
    networks:
    - app-network  # Ensure both services are on the same network

  api:
    container_name: api
    build:
      context: .
      target: development
      args:
        USER_ID: ${UID:-1000}
        GROUP_ID: ${GID:-1000}
    ports:
      - "9000:9000"
    volumes:
      - .:/var/www
      - /var/www/vendor
    user: root     
    depends_on:
      mysql:
        condition: service_healthy
    networks:
    - app-network  # Ensure both services are on the same network
  
  mysql:
      image: 'mysql:8.4'
      container_name: mysql
      ports:
          - '3306:3306'
      environment:
          MYSQL_ROOT_PASSWORD: '${DB_PASSWORD}'
          MYSQL_ROOT_HOST: '%'
          MYSQL_DATABASE: '${DB_DATABASE}'
          MYSQL_USER: '${DB_USERNAME}'
          MYSQL_PASSWORD: '${DB_PASSWORD}'
          MYSQL_ALLOW_EMPTY_PASSWORD: 1
      volumes:
          - '/docker/mysql:/var/lib/mysql'
      healthcheck:
          test: ['CMD', 'mysqladmin', 'ping', '-p${DB_PASSWORD}']
          retries: 3
          timeout: 5s
      networks:
      - app-network  # Ensure both services are on the same network

networks:
  app-network:
    driver: bridge